.venv
.venv-1
node_modules
poutry_ai/node_modules
poutry_ai/dist
backend/uploads
backend/app/__pycache__
ml_pipeline/checkpoints/best.pth
ml_pipeline/checkpoints/latest.pth
.git
*.db
*.sqlite
*.sqlite3
